td{
   
    padding: 2px;
text-align: center;
background-color: rgb(0, 0, 0);
color: rgb(255, 254, 254);
border-radius: 6%
;
}

th{
   
    padding: 2px;
text-align: center;
background-color: rgb(186, 147, 237);
color: black;
border-radius: 6%
}

table{
    background-color:rgb(255, 255, 255) ;
    width: 70%;

}
body{
    background-color: rgb(54, 54, 54);
}
h1{
    color: white;
}
